[package]
name = "trouble-host"
version = "0.1.0"
edition = "2021"
description = "An async Rust BLE host"
license = "Apache-2.0 or MIT"
keywords = [
    "no-std",
]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
resolver = "2"

[dependencies]
bt-hci = { version = "0.1.0" }
embedded-io-async = { version = "0.6" }
embassy-sync = "0.5"
embassy-time = "0.3"
embassy-futures = "0.1"
futures = { version = "0.3", default-features = false }
heapless = "0.8"
trouble-host-macros = { version = "0.1.0", path = "../host-macros" }

# Logging
log = { version = "0.4.16", optional = true }
defmt = {version = "0.3", optional = true }

[features]
defmt = [ "dep:defmt" ]

[patch.crates-io]
bt-hci = { git = "https://github.com/alexmoon/bt-hci.git", branch = "main" }
embassy-sync = { git = "https://github.com/embassy-rs/embassy.git", branch = "main" }
