[package]
name = "trouble-host"
version = "0.1.0"
edition = "2021"
description = "An async Rust BLE host"
license = "Apache-2.0 or MIT"
keywords = [
    "no-std",
]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
resolver = "2"

[dependencies]
bt-hci = { version = "0.1.1", features = ["embassy-time"] }
embedded-io-async = { version = "0.6" }
embedded-io = { version = "0.6" }
embassy-sync = "0.6"
embassy-time = "0.3"
embassy-futures = "0.1"
futures = { version = "0.3", default-features = false }
heapless = "0.8"

# Logging
log = { version = "0.4.16", optional = true }
defmt = {version = "0.3", optional = true }

[dev-dependencies]
tokio = { version = "1", default-features = false, features = ["time", "rt-multi-thread", "macros"] }
embedded-io-adapters = { version = "0.6.1", features = ["tokio-1"] }
embedded-io-async = { version = "0.6.1" }
embedded-io = { version = "0.6.1" }
tokio-serial = "5.4"
env_logger = "0.11"
critical-section = { version = "1", features = ["std"] }
static_cell = "2.1.0"
rand = "0.8.5"


[features]
defmt = [ "dep:defmt" ]
log = [ "dep:log" ]
gatt = []
scan = []
default = [ "gatt", "scan" ]
controller-host-flow-control = []

# BEGIN AUTOGENERATED CONFIG FEATURES
# Generated by gen_config.py. DO NOT EDIT.
l2cap-rx-queue-size-1 = []
l2cap-rx-queue-size-2 = []
l2cap-rx-queue-size-4 = []
l2cap-rx-queue-size-8 = [] # Default
l2cap-rx-queue-size-16 = []
l2cap-rx-queue-size-32 = []
l2cap-rx-queue-size-64 = []

l2cap-tx-queue-size-1 = []
l2cap-tx-queue-size-2 = []
l2cap-tx-queue-size-4 = []
l2cap-tx-queue-size-8 = [] # Default
l2cap-tx-queue-size-16 = []
l2cap-tx-queue-size-32 = []
l2cap-tx-queue-size-64 = []

l2cap-rx-packet-pool-size-1 = []
l2cap-rx-packet-pool-size-2 = []
l2cap-rx-packet-pool-size-4 = []
l2cap-rx-packet-pool-size-8 = [] # Default
l2cap-rx-packet-pool-size-16 = []
l2cap-rx-packet-pool-size-32 = []
l2cap-rx-packet-pool-size-64 = []
l2cap-rx-packet-pool-size-128 = []
l2cap-rx-packet-pool-size-256 = []
l2cap-rx-packet-pool-size-512 = []

# END AUTOGENERATED CONFIG FEATURES
