[package]
name = "trouble-esp32-examples"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
embassy-executor    = { version = "0.7.0", features = ["task-arena-size-32768"] }
esp-backtrace = { version = "0.14.2", features = [ "exception-handler", "panic-handler", "println" ] }
esp-hal = { version = "0.22.0", features = [ "unstable" ] }
esp-hal-embassy = { version = "0.5.0" }
esp-alloc = { version = "0.5.0" }
esp-println = { version = "0.12.0", features = ["log"] }
esp-wifi = { version = "0.11.0", features = [ "ble" ] }
trouble-example-apps = { version = "0.1.0", path = "../apps", features = ["esp", "log"] }
bt-hci = { version = "0.2" }
#embassy-futures = "0.1.1"
#embassy-time = { version = "0.4", features = ["generic-queue-8"] }

[features]
default = ["esp32c3"]
esp32 = ["esp-hal/esp32", "esp-backtrace/esp32", "esp-hal-embassy/esp32", "esp-println/esp32", "esp-wifi/esp32"]
esp32c2 = ["esp-hal/esp32c2", "esp-backtrace/esp32c2", "esp-hal-embassy/esp32c2", "esp-println/esp32c2", "esp-wifi/esp32c2"]
esp32c3 = ["esp-hal/esp32c3", "esp-backtrace/esp32c3", "esp-hal-embassy/esp32c3", "esp-println/esp32c3", "esp-wifi/esp32c3"]
esp32c6 = ["esp-hal/esp32c6", "esp-backtrace/esp32c6", "esp-hal-embassy/esp32c6", "esp-println/esp32c6", "esp-wifi/esp32c6"]
esp32h2 = ["esp-hal/esp32h2", "esp-backtrace/esp32h2", "esp-hal-embassy/esp32h2", "esp-println/esp32h2", "esp-wifi/esp32h2"]
esp32s3 = ["esp-hal/esp32s3", "esp-backtrace/esp32s3", "esp-hal-embassy/esp32s3", "esp-println/esp32s3", "esp-wifi/esp32s3"]

[profile.dev]
# Rust debug is too slow.
# For debug builds always builds with some optimization
opt-level = "s"

[profile.release]
codegen-units = 1 # LLVM can perform better optimizations using a single thread
debug = 2
debug-assertions = false
incremental = false
lto = 'thin'
opt-level = 3
overflow-checks = false

[patch.crates-io]
esp-hal = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
esp-hal-embassy = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
esp-wifi = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
esp-println = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
esp-backtrace = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
esp-alloc = { git = "https://github.com/esp-rs/esp-hal.git", rev = "7288d0367e0a820db4ca25a22496a35beff1bb61" }
