[package]
name = "trouble-esp32-examples"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
embassy-executor    = { version = "0.6.0", features = ["task-arena-size-32768"] }
esp-backtrace = { version = "0.14.2", features = [
    "exception-handler",
    "panic-handler",
    "println",
] }
esp-hal = { version = "0.21.1" }
esp-hal-embassy = { version = "0.4.0" }
esp-alloc = { version = "0.5.0" }
esp-println = { version = "0.12.0", features = ["log"] }
log = { version = "0.4.21" }
embedded-io = "0.6.1"
esp-wifi = { version = "0.10.1", features = [
    "ble",
] }
heapless = { version = "0.8.0", default-features = false }
trouble-example-apps = { version = "0.1.0", path = "../apps", features = ["log"] }
bt-hci = { version = "0.1.1" }
embassy-futures = "0.1.1"
embassy-time = { version = "0.3", features = ["generic-queue-8"] }
static_cell = "2"
embassy-sync = "0.6"

[features]
default = ["esp32c3"]
esp32 = ["esp-hal/esp32", "esp-backtrace/esp32", "esp-hal-embassy/esp32", "esp-println/esp32", "esp-wifi/esp32"]
esp32c2 = ["esp-hal/esp32c2", "esp-backtrace/esp32c2", "esp-hal-embassy/esp32c2", "esp-println/esp32c2", "esp-wifi/esp32c2"]
esp32c3 = ["esp-hal/esp32c3", "esp-backtrace/esp32c3", "esp-hal-embassy/esp32c3", "esp-println/esp32c3", "esp-wifi/esp32c3"]
esp32c6 = ["esp-hal/esp32c6", "esp-backtrace/esp32c6", "esp-hal-embassy/esp32c6", "esp-println/esp32c6", "esp-wifi/esp32c6"]
esp32h2 = ["esp-hal/esp32h2", "esp-backtrace/esp32h2", "esp-hal-embassy/esp32h2", "esp-println/esp32h2", "esp-wifi/esp32h2"]
esp32s3 = ["esp-hal/esp32s3", "esp-backtrace/esp32s3", "esp-hal-embassy/esp32s3", "esp-println/esp32s3", "esp-wifi/esp32s3"]

[profile.dev]
# Rust debug is too slow.
# For debug builds always builds with some optimization
opt-level = "s"

[profile.release]
codegen-units = 1 # LLVM can perform better optimizations using a single thread
debug = 2
debug-assertions = false
incremental = false
lto = 'thin'
opt-level = 3
overflow-checks = false

[patch.crates-io]
esp-hal = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }
esp-hal-embassy = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }
esp-wifi = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }
esp-println = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }
esp-backtrace = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }
esp-alloc = { git = "https://github.com/esp-rs/esp-hal.git", rev = "2c14e595dbc853b23a085a48aff7105eaef71652" }

embassy-executor = { git = "https://github.com/embassy-rs/embassy.git", rev = "d6a8dce6eef22564160bf25b20528b8b78ec63b8" }
embassy-sync = { git = "https://github.com/embassy-rs/embassy.git", rev = "d6a8dce6eef22564160bf25b20528b8b78ec63b8" }
embassy-futures = { git = "https://github.com/embassy-rs/embassy.git", rev = "d6a8dce6eef22564160bf25b20528b8b78ec63b8" }
embassy-time = { git = "https://github.com/embassy-rs/embassy.git", rev = "d6a8dce6eef22564160bf25b20528b8b78ec63b8" }
embassy-time-driver = { git = "https://github.com/embassy-rs/embassy.git", rev = "d6a8dce6eef22564160bf25b20528b8b78ec63b8" }
