[package]
name = "trouble-example-apps"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
trouble-host = { path = "../../host", features = ["derive"] }
bt-hci = { version = "0.1.1" }
embassy-executor = { version = "0.6.0" }
embassy-futures = "0.1.1"
embassy-sync = { version = "0.6" }
embassy-time = "0.3"
embedded-hal = "1.0"
embedded-hal-async = "1.0"
static_cell = "2"
embedded-io = "0.6"

defmt = { version = "0.3", optional = true }
log = { version = "0.4", optional = true }


[features]
defmt = [
    "dep:defmt",
    "trouble-host/defmt",
    "bt-hci/defmt",
    "embedded-io/defmt-03",
    "embedded-hal/defmt-03"
]
esp = []
log = [
    "dep:log",
    "trouble-host/log",
    "bt-hci/log"
]
