---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      ENABLE_MEGALINTER: true
    steps:
      - uses: actions/checkout@v4
      - name: Add dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libudev-dev
      - name: Set up cargo cache
        uses: actions/cache@v4.2.0
        continue-on-error: true
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target_ci/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: CI
        run: |
          ./ci.sh
